<h1>Detalhes da Reserva</h1>
   
Tipo do Cliente: <%= @reserva.tipo_cliente.type_client %> <br> 
Data de Entrada: <%= @reserva.date_starting %><br>
Data de Saída: <%= @reserva.date_exit %><br>

<h5>
Total de dias reservados: <%= @differ %><br>
Total de dias de semana: <%=  @weekdays %><br>
Total dias de Fim de semana: <%= @weekend_days %><br>

</h5>
<%= link_to 'Editar', edit_reserva_path(@reserva) %>
<%= link_to 'Deletar', reserva_path(@reserva), method: :delete, data: { confirm: "Confirma exclusão da Reserva: #{@reserva.id}?" } %> 
<%= link_to 'Voltar', reservas_path %>

    
<br>

<% @tabela_precos.each do |item| %>
  <%= item.hotel.nome%> <br>
  <%= item.tipo_cliente.type_client%> <br>
  <%= item.periodo.periodo%> <br>
  <%= item.preco%> <br>
  
<% end %>

<br>
<%= @tabela_preco_total %><br>








