<h1>Detalhes da Reserva</h1>
   
Tipo do Cliente: <%= @reserva.tipo_cliente.type_client %> <br> 
Data de Entrada: <%= @reserva.date_starting %><br>
Data de Saída: <%= @reserva.date_exit %><br>

<%# <%= link_to 'Editar', edit_reserva_path(@reserva) %>
<%# <%= link_to 'Deletar', reserva_path(@reserva), method: :delete, data: { confirm: "Confirma exclusão da Reserva: #{@reserva.id}?" } %> 
<%= link_to 'Voltar', reservas_path %>

    


